* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body {
    background-color: #333;
}

nav {
    height: 10vh;
    background-color: rgb(145, 145, 145);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 20px;
}

section {
    min-height: 90vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section p {
    width: 45%;
    color: white;
    font-size: 1.4rem;
}

section img {
    width: 700px;
    height: auto;
}